certifi
charset-normalizer
colorama
contourpy
cycler
cython
filelock
fonttools
fsspec
idna==3.4
importlib-resources
jinja2
kiwisolver
lapx
markupsafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
pyyaml
requests
scipy
seaborn
six
sympy
thop
torch
torchvision
tqdm
typing-extensions
tzdata
ultralytics
urllib3
zipp
